.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
.sidebar_button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #b3b3b3;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;}

.sidebar_button:hover {
    background-color: #353535;
    color: white;
  }

  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }

.plate_button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #023f77;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
.plate_button:hover {
    background-color: #012f5a;
    color: white;
  }

.owner_button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #037d6a;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
.owner_button:hover {
    background-color: #01463b;
    color: white;
  }
