{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome, {{ user.username }}, to the Admin Dashboard</h1>
  <p>Welcome to the admin dashboard for the shop manager. Here you can manage everything.</p>
  <p>The manager has the following record counts:</p>
  <ul>
    <li><strong>Individual Cars: </strong> {{ num_instances }}</li>
    <li><strong>Owners:</strong> {{ num_owners }}</li>
  </ul>
<br>
<a href="{% url 'edit_footer_content' %}" class="dashboard_button">Edit Page Footer</a>
<a href="{% url 'user_list' %}" class="dashboard_button">User Management</a>
<!-- Feedback Button -->
<a href="{% url 'feedback_list' %}" class="dashboard_button">View Feedback</a>
{% endblock %}